template(name="result")
    with weather
        .ui.items
            .item
                .image
                    img(src="{{pic}}")
                .content
                    .name
                        | {{name}}
                    .description
                            div The current temperature is {{temperature}}{{tempUnit}}
